.page {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* فقط مسئول وسط بودن */
.center-layer {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.card {
  pointer-events: auto;
}

.card {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(20px) saturate(140%);
  border-radius: 24px;
  padding: 32px;
  text-align: center;
  box-shadow:
    0 30px 80px rgba(0, 0, 0, 0.6),
    inset 0 0 0 1px rgba(255, 255, 255, 0.12);
  width: 360px;
}

.image {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
  position: relative;
}

button {
  border: none;
  padding: 12px 22px;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.yes {
  z-index: 10;
  /* position: relative; */
  color: white;
}

.green {
  background: linear-gradient(135deg, #8b5cf6);
}

.red {
  background: linear-gradient(135deg, #4c1d95);
}

.no {
  background: rgba(255, 255, 255, 0.15);
  color: white;
  backdrop-filter: blur(8px);
  z-index: 1000;

  position: absolute;
  left: 0;
  top: 0;

  will-change: transform;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}
